<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:id="@+id/scrollView1">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent">
        <TextView
            android:text="Question"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtQuestion"
            android:textAppearance="?android:attr/textAppearanceLarge" />
        <ImageView
            android:src="@android:drawable/ic_menu_gallery"
            android:id="@+id/imgQuestionImage"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:adjustViewBounds="true" />
        <RadioGroup
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/rgAnswerOptions" />
        <Button
            android:text="Submit"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:id="@+id/btnSubmit" />
    </LinearLayout>
</ScrollView>