<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    >
<Button  
    android:id="@+id/btnStart"
    android:layout_width="fill_parent" 
    android:layout_height="wrap_content" 
    android:text="@string/start"
    />
    <Button  
    android:id="@+id/btnHistory"
    android:layout_width="fill_parent" 
    android:layout_height="wrap_content" 
    android:text="@string/history"
    />
</LinearLayout>

